.html {
    margin: 0 auto;
    padding: 0;
    border: 0;
    font-size: 18px;
    overflow: height;
}

.html div {
    margin: 3px auto;
    padding: 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 100%;
    background: #fff;
}

.html div p {
    margin-top: 2px;
    margin-bottom: 2px;
    text-indent: 36px;
}

.html div h2 {
    display: inline-block;
    margin: 0px auto;
    margin-left: 2px;
    padding-right: 20px;
    border-left: 10px solid #000;
    background: #efefef;
}

.html div a:link,
.html div a:visited {
    text-decoration: none;
    color: #191f30;
}