.pc {
    display: none;
}

.mabile {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.mbkc {
    margin: 5px auto;
    width: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background: #efefef;
}

.mbkc h2,
.mbkc h3,
.mbkc h4 {
    margin: 10px 0 0px;
    padding-right: 10px;
    display: inline-block;
    height: 22px;
    text-indent: 20px;
    font-size: 18px;
    color: #fff;
    background-color: #3a3a3a;
}

.mabile ul {
    list-style: none;
}

.mabile ul li {
    text-indent: 20px;
}

.mabile a:link,
.mabile a:visited {
    text-decoration: none;
    color: #3a3a3a;
    font-size: 18px;
}