html	{
	margin:0 auto;
	padding:0px;
	border:0px solid #000;
	}
	
	
	
body	{
	margin:0 auto;
	padding:0px;
	border:0px solid #000;
	}
	

	
.directories_c	{
	margin:0px auto;
	padding:0px;
	border:1px solid #000;
	width:1000px;
	min-height:600px;
	background:#afafaf;
	}

.directories_c ul	{
	margin:0 auto;
	padding:0px;
	width:100%;
	list-style-type:none;
	}
	
.directories_c ul li.first	{
	margin:0px auto;
	width:100%;
	list-style-type:none;
	color:#f00f0f;
	font-size:24px;
	}	
	
.directories_c ul li h2 {
	margin:0px auto;
	padding:0px;
	border-bottom:1px solid #000;
	background:#6f6f6f;
	color:#f70;
	font-size:24px;
	}
	
.directories_c ul li.first a:link,a:visited	{
	display:block;
	text-decoration:none;
	padding-left:20px;
	color:#000;
	}/*未被访问的链接*//*已被访问的链接*/
.directories_c ul li.first a:hover	{
	background:#000;
	color:#fff;
	font-size:24px;
	}/*鼠标指针移动到链接上*/
.directories_c a:active	{
	text-decoration:none;
	color:#000;
	}/*正在被点击的链接*/





