<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8" />
    <title>js判断键盘的大小写状态</title>
</head>

<body></body>

</html>


<!-- js判断键盘的大小写状态 -->
<script type="text/javascript">
    function detectCapsLock(event) {
        var e = event || window.event;
        var o = e.target || e.srcElement;
        var oTip = o.nextSibling;
        var keyCode = e.keyCode || e.which; // 按键的keyCode 
        var isShift = e.shiftKey || (keyCode == 16) || false; // shift键是否按住
        if (
            ((keyCode >= 65 && keyCode <= 90) && !isShift) // Caps Lock 打开，且没有按住shift键 
            || ((keyCode >= 97 && keyCode <= 122) && isShift)// Caps Lock 打开，且按住shift键
        ) {
            oTip.style.display = '';
        }
        else {
            oTip.style.display = 'none';
        }
    }

    window.onload = function () {
        document.getElementById('<%= txtUserName.ClientID %>').focus();
        document.getElementById('<%= txtPassword.ClientID %>').onkeypress = detectCapsLock;
    };
</script>